.dice-pick {

    margin-right: 2%;
    color: green;
    width: 60px;
    padding-right: 64%;

}

.dice-no-pick {

    margin-right: 2%;
    color: rgb(11, 15, 253);
    width: 60px;
    padding-right: 64%;

}

.svg-inline--fa.fa-w-14#icon-dice{
    width: 40px;
}