.dices-container {
    width: 5%;
    margin-top: 25%;
    display: flex;
}

.roll-dice {

    margin-left: 35%;
    margin-top: 40%;

}

.dice-pick {

    margin-right: 2%;
    background-color: transparent;
    border-color: transparent;
    color: green;
    width: 60px;

}

.dice-no-pick {

    margin-right: 2%;
    background-color: transparent;
    border-color: transparent;
    color: red;
    width: 60px;

}

.svg-inline--fa.fa-w-14#icon-dice{
    width: 40px;
}

.btn-roll-dices {

    margin-left: 18%;
    margin-top: 2%;
}