.dices-container {
    width: 5%;
    margin-top: 25%;
    display: flex;
}

.roll-dice {

    margin-left: 40%;
    margin-top: 20%;
    width: 20%;

}

.dice-pick {

    margin-right: 2%;
    background-color: transparent;
    border-color: transparent;
    color: lime;
    width: 60px;

}

.dice-no-pick {

    margin-right: 2%;
    background-color: transparent;
    border-color: transparent;
    color: rgb(0, 26, 255);
    width: 60px;

}

.svg-inline--fa.fa-w-14#icon-dice{
    width: 40px;
}

.btn-roll-dices {

    margin-left: 20%;
    margin-top: 2%;
    width: 20%;
}