.player-text {
  font-size: 100%;
  text-align: center;
  width: 100%;
}

.table-container {

  width: 100%;
  margin-left: 3%;
}

th {
  width: 100%;
  text-align: center;
  color: rgb(1, 248, 236);
}

td {
  width: 43%;
  color: rgb(250, 250, 250);
}

.tg {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}
.tg td {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  overflow: hidden;
  padding: 20px 20px;
  word-break: normal;
  width: 60%;
}
.tg th {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  overflow: hidden;
  padding: 20px 20px;
  word-break: normal;
}
.tg .tg-c3ow {
  border-color: none;
  text-align: center;
  font-size: 100%;
}
.tg .tg-zd5i {
  border-color: none;
  font-size: 100%;
  text-align: left;
}
.tg .tg-0pky {
  border-color: none;
  text-align: left;
}
.tg .tg-0lax {
  text-align: left;
  font-size: 100%;
}

img {
  width: 43%;
  margin-left: 5%;
}

.svg-inline--fa {
  height: 3em;
  padding-bottom: 5%;
}

div.table-responsive {
  float: right;
  margin-right: 4%;
  width: fit-content;
}

.svg-inline--fa.fa-w-14 {
  width: 2.875em;
}

span.text-points{

  width: 50%;
  margin-left: 15%;
  margin-top: 15%;
}
